<a href="https://colab.research.google.com/github/hongtae1235/name/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

tries = 0
guess = 0;
answer = random.randint(1,100)
print("1부터 100 사이의 숫자를 맞추시오")
while guess != answer:
    guess = int(input("숫자 입력: "))
    tries = tries + 1
    if guess > answer:
        print("down")
    elif guess < answer:
        print("up")

print("good!\n총 시도횟수=", tries)

1부터 100 사이의 숫자를 맞추시오
숫자 입력: 50
down
숫자 입력: 40
down
숫자 입력: 30
up
숫자 입력: 35
down
숫자 입력: 34
down
숫자 입력: 33
down
숫자 입력: 32
good!
총 시도횟수= 7

In [ ]:
x, y = map(int, input("두 정수 입력2: ").split())
a,b = x,y

while y != 0:
    t = x % y
    x = y
    y = t

print('%d와 %d의 최대 공약수 = %d' % (a, b, x))
print('%d와 %d의 최소 공배수 = %d' % (a, b, a*b/x))

두 정수 입력2: 36 24
36와 24의 최대 공약수 = 12
36와 24의 최소 공배수 = 72

In [ ]:
x, y = map(int, input("두 정수 입력: ").split())
count = 0
if x < y:
  x, y = y, x
  while x >= y:
    x -= y
    count += 1

print(count, x)

두 정수 입력: 3 5
1 2

In [ ]:
num = int(input("정수 입력 : "))
hap = 0
while num != 0:
  hap += num % 10
  num //= 10
print(hap)

정수 입력 : 123
6

In [ ]:
num = int(input("정수 입력 : "))
a = 2
print("인수분해 = ", end= " ")
while num != 1:
  if num % a != 0:
    a += 1
  num //= a
  print(a, end = ' ')

정수 입력 : 36
인수분해 =  2 2 3 3

In [ ]:
for i in range(1, 10) :
  for j in range(2, 10) :
    print('%d * %d = %2d  ' % (j, i, i*j), end= ' ')
  print()

2 * 1 =  2   3 * 1 =  3   4 * 1 =  4   5 * 1 =  5   6 * 1 =  6   7 * 1 =  7   8 * 1 =  8   9 * 1 =  9
2 * 2 =  4   3 * 2 =  6   4 * 2 =  8   5 * 2 = 10   6 * 2 = 12   7 * 2 = 14   8 * 2 = 16   9 * 2 = 18
2 * 3 =  6   3 * 3 =  9   4 * 3 = 12   5 * 3 = 15   6 * 3 = 18   7 * 3 = 21   8 * 3 = 24   9 * 3 = 27
2 * 4 =  8   3 * 4 = 12   4 * 4 = 16   5 * 4 = 20   6 * 4 = 24   7 * 4 = 28   8 * 4 = 32   9 * 4 = 36
2 * 5 = 10   3 * 5 = 15   4 * 5 = 20   5 * 5 = 25   6 * 5 = 30   7 * 5 = 35   8 * 5 = 40   9 * 5 = 45
2 * 6 = 12   3 * 6 = 18   4 * 6 = 24   5 * 6 = 30   6 * 6 = 36   7 * 6 = 42   8 * 6 = 48   9 * 6 = 54
2 * 7 = 14   3 * 7 = 21   4 * 7 = 28   5 * 7 = 35   6 * 7 = 42   7 * 7 = 49   8 * 7 = 56   9 * 7 = 63
2 * 8 = 16   3 * 8 = 24   4 * 8 = 32   5 * 8 = 40   6 * 8 = 48   7 * 8 = 56   8 * 8 = 64   9 * 8 = 72
2 * 9 = 18   3 * 9 = 27   4 * 9 = 36   5 * 9 = 45   6 * 9 = 54   7 * 9 = 63   8 * 9 = 72   9 * 9 = 81

In [ ]:
for i in range(2, 10) :
  for j in range(1, 10) :
    print('%d * %d = %2d  ' % (i, j, i*j), end= ' ')
  print()

2 * 1 =  2   2 * 2 =  4   2 * 3 =  6   2 * 4 =  8   2 * 5 = 10   2 * 6 = 12   2 * 7 = 14   2 * 8 = 16   2 * 9 = 18
3 * 1 =  3   3 * 2 =  6   3 * 3 =  9   3 * 4 = 12   3 * 5 = 15   3 * 6 = 18   3 * 7 = 21   3 * 8 = 24   3 * 9 = 27
4 * 1 =  4   4 * 2 =  8   4 * 3 = 12   4 * 4 = 16   4 * 5 = 20   4 * 6 = 24   4 * 7 = 28   4 * 8 = 32   4 * 9 = 36
5 * 1 =  5   5 * 2 = 10   5 * 3 = 15   5 * 4 = 20   5 * 5 = 25   5 * 6 = 30   5 * 7 = 35   5 * 8 = 40   5 * 9 = 45
6 * 1 =  6   6 * 2 = 12   6 * 3 = 18   6 * 4 = 24   6 * 5 = 30   6 * 6 = 36   6 * 7 = 42   6 * 8 = 48   6 * 9 = 54
7 * 1 =  7   7 * 2 = 14   7 * 3 = 21   7 * 4 = 28   7 * 5 = 35   7 * 6 = 42   7 * 7 = 49   7 * 8 = 56   7 * 9 = 63
8 * 1 =  8   8 * 2 = 16   8 * 3 = 24   8 * 4 = 32   8 * 5 = 40   8 * 6 = 48   8 * 7 = 56   8 * 8 = 64   8 * 9 = 72
9 * 1 =  9   9 * 2 = 18   9 * 3 = 27   9 * 4 = 36   9 * 5 = 45   9 * 6 = 54   9 * 7 = 63   9 * 8 = 72   9 * 9 = 81

In [ ]:
x = int(input("x 좌표 크기 입력 : "))
y = int(input("y 좌표 크기 입력 : "))
for i in range(1, x+1) :
  for j in range(1, y+1) :
    print('(%2d, %2d) ' % (i, j), end=' ')
  print()

x 좌표 크기 입력 : 5
y 좌표 크기 입력 : 5
( 1,  1)  ( 1,  2)  ( 1,  3)  ( 1,  4)  ( 1,  5)
( 2,  1)  ( 2,  2)  ( 2,  3)  ( 2,  4)  ( 2,  5)
( 3,  1)  ( 3,  2)  ( 3,  3)  ( 3,  4)  ( 3,  5)
( 4,  1)  ( 4,  2)  ( 4,  3)  ( 4,  4)  ( 4,  5)
( 5,  1)  ( 5,  2)  ( 5,  3)  ( 5,  4)  ( 5,  5)

In [ ]:
for a in range(1, 6):
    print("*" * a)
for c in range(1, 2):
    print(" ")
for b in range(5, 0, -1):
    print("*" * b)

*
**
***
****
*****

*****
****
***
**
*

In [ ]:
for i in range(1, 6):
  for j in range(1, i+1):
    print("*", end="")
  print()
print()
for i in range(1, 6):
  for j in range(i, 6):
    print("*", end="")
  print()

*
**
***
****
*****

*****
****
***
**
*

In [ ]:
for i in range(1, 11) :
  for j in range(1, 11) :
    if j >= i:
     print("*", end=" ")
    else :
     print(" ", end=" ")
  print()

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
for i in range(1, 11) :
  for j in range(1, 11) :
    if j+i >= 11:
     print("*", end=" ")
    else :
     print(" ", end=" ")
  print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *