<a href="https://colab.research.google.com/github/hongtae1235/name/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math, random
n = int(input('정수 입력 :'))
lst = []
for i in range(n) :
  lst.append(random.randint(1, 100))

print(lst)
mean = sum(lst) / len(lst)
vsum = 0
for val in lst :
  vsum += (val - mean) ** 2
variance = vsum / len(lst)

print('평균 :', mean)
print('분산 :', variance)
print('표준편차 :', math.sqrt(variance))

정수 입력 :10
[30, 18, 80, 53, 43, 1, 12, 50, 75, 16]
평균 : 37.8
분산 : 651.96
표준편차 : 25.533507397143858

In [ ]:
lst = [1,3,5,7,9]
print(len(lst))
print(max(lst))
print(min(lst))
print(sum(lst))

5
9
1
25

In [ ]:
import random
n = int(input('정수 입력: '))
lst = []
for i in range(n):
     lst.append(random.randint(1, 50))

holist = []
cnt = 0

for j in lst:
  if j % 2 == 1:
    holist.append(j)
    cnt += 1

for j in range(n-1,-1,-1):
  print(lst[j], end=" ")

정수 입력: 10
35 40 9 16 40 15 7 47 49 47

In [ ]:
lst = list('ABCDEF')
print(lst)
print(lst[-1])
print(lst[1: -1])
print(lst[:])
print(lst[::-1])

['A', 'B', 'C', 'D', 'E', 'F']
F
['B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E', 'F']
['F', 'E', 'D', 'C', 'B', 'A']

In [ ]:
letter = ['A', 'B', 'C', 'D', 'E', 'F']
print(letter[0:6])
print(letter[:])
print(letter[:-1])
print(letter[::-2])
print(letter[1::2])

['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'C', 'D', 'E']
['F', 'D', 'B']
['B', 'D', 'F']

In [ ]:
alist = [1, 2, 3, 4, 5]
blist = alist
print(id(alist))
print(id(blist))
alist[0] = 10
print(blist)

140405379211264
140405379211264
[10, 2, 3, 4, 5]

In [ ]:
alist = [1,2,3,4,5]
blist = list(alist)
clist = alist[:]
print(id(alist))
print(id(blist))
print(id(clist))
alist[0] = 10
print(blist)
print(clist)

140405381265216
140405682658944
140405381255616
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
lst = [1,2,3,2,3]
print(lst.index(3))
print(lst.count(3))
if 4 in lst :
  print(lst.index(4))
else :
  print('원소 4는 리스트에 없음')

2
2
원소 4는 리스트에 없음

In [ ]:
lst = [1, 3, 4]
lst.append(5)
print(lst)
lst.insert(1,2)
print(lst)
lst.extend([6,7,8])
print(lst)

[1, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
lst = [1, 2, 3, 4, 3]
lst.remove(3)
print(lst)
lst.pop(2)
print(lst)
del lst[2]
print(lst)

[1, 2, 4, 3]
[1, 2, 3]
[1, 2]

In [ ]:
alist = [1,5,3,4,2]
alist.sort(reverse=False)
print(alist)
blist = sorted(alist, reverse=True)
print('alist = ', alist)
print('blist = ', blist)

[1, 2, 3, 4, 5]
alist =  [1, 2, 3, 4, 5]
blist =  [5, 4, 3, 2, 1]